<div class="container">
  <div class="content">
    <h2 class="mat-h2">Document Format</h2>
    <div class="buttons">
      <input type="file" id="inputFile" (change)="aoSelecionarArquivo($event)" accept=".xlsx, .xls" style="display: none;">
      <button mat-fab extended (click)="selecionarArquivo()">
        <mat-icon>file_upload</mat-icon>
        Selecionar Arquivo
      </button>  
      <button mat-fab extended (click)="formatarArquivo()">
        <mat-icon>get_app</mat-icon>
        Baixar Arquivo
      </button>
    </div>
    <span>{{arquivoSelecionado}}</span>
  </div>
</div>